@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Overpass+Mono:wght@300..700&display=swap');

html {
  font-size: 62.5%;
}

/* Document
   ========================================================================== */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Outfit';
}
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
  font-size: 62.5%;
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
     ========================================================================== */
  
  /**
   * Remove the margin in all browsers.
   */
  
  body {
    margin: 0;
    color-scheme: only light;
  }
  
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
    display: block;
  }
  
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  
  h1 {
    font-size: 2em;
  }
  
  /* Grouping content
     ========================================================================== */
  
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /* Text-level semantics
     ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
    background-color: transparent;
  }
  
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
    font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
     ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
  }
  
  /* Forms
     ========================================================================== */
  
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  
  button,
  input { /* 1 */
    overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
   * Correct the padding in Firefox.
   */
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  
  progress {
    vertical-align: baseline;
  }
  
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  
  textarea {
    overflow: auto;
  }
  
  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  /* Interactive
     ========================================================================== */
  
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  
  details {
    display: block;
  }
  
  /*
   * Add the correct display in all browsers.
   */
  
  summary {
    display: list-item;
  }
  
  /* Misc
     ========================================================================== */
  
  /**
   * Add the correct display in IE 10+.
   */
  
  template {
    display: none;
  }
  
  /**
   * Add the correct display in IE 10.
   */
  
  [hidden] {
    display: none;
  }

  /**
  * remove undesired user select
  */
  a, img, button, h1, h2 {
    user-select: none;
  }


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: 16px;
}

/*=== actual styling ===*/
header {
    background-image: url('./res/hero-background.svg');
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
}
.mobile-nav {
  display: none;
  flex-direction: column;
  gap: 2rem;
}
.mobile-nav-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header nav {
    padding: 3.6rem 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul, header nav .nav-action-button {
    flex-grow: 1;
    flex-basis: 0;
}
header nav ul {
    display: flex;
    gap: 4vw;
    list-style: none;
}
header nav ul a {
    color: #484848;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
}
header nav ul a:hover {
    text-decoration: underline;
}

header h1 {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 0.35rem;
}
header h1 span:nth-child(1) {
    color: #ED8000;
}
header h1 span:nth-child(2) {
    color: #49A1C7;
}

header nav .nav-action-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header nav .nav-action-button a {
    padding: 1.1rem 3.7rem;
    border: 2px solid #49A1C7;
    color: #49A1C7;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.3s;
}
header nav .nav-action-button a:hover {
    background-color: #49A1C7;
    color: #fff;
}
@media only screen and (max-width: 750px) {
  header {
    background-image: none;
  }
  header nav:nth-child(1) {
    display: none;
  }
  .mobile-nav {
    display: flex;
  }
}
@media only screen and (max-width: 500px) {
  header .mobile-nav .nav-action-button {
    display: none;
  }
  .mobile-nav-wrapper {
    justify-content: center;
  }
}

.hero-section {
  padding: 4rem 5vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15vw;
}
.hero-section .left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hero-section h2 {
  color: #000;
  font-size: 5rem;
  font-weight: 700;
}
.hero-section .left p {
  color: #484848;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 4rem;
}
.hero-section .left a {
  padding: 1.5rem 5.5rem;
  width: fit-content;
  text-align: center;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  background-color: #ED8000;
  transition: all 0.3s;
}
.hero-section .left a:hover {
  opacity: 0.8;
}

.hero-section .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
}
.hero-data-wrapper {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.hero-data-image img {
  width: 8.4rem;
  height: auto;
}
.hero-data-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 26rem;
}
.hero-data-info p {
  color: #484848;
  font-size: 1.6rem;
  font-weight: 400;
}
.hero-data-border {
  width: 4rem;
  height: 0.5rem;
  background-color: #ED8000;
}
@media only screen and (max-width: 800px) {
  .hero-section {
    grid-template-columns: 1fr;
  }
  .hero-section .right {
    justify-content: flex-start;
    align-items: start;
  }
}

.image-section {
  background: linear-gradient(to bottom, #fff 50%, #343434 50%);
  padding: 2rem 5vw;
  display: flex;
  justify-content: center;
}
.image-large-element {
  background-image: url('./res/invetebrate-landscape-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: min(60rem, 100vh);
  display: flex;
  justify-content: flex-start;
  align-items: end;
}
.image-large-element p {
  border-radius: 0rem 2rem 0rem 0rem;
  background-color: #ED8000;
  padding: 3rem 2.5rem;
  width: min(30rem, 70%);
  color: #FFF;
  font-family: Outfit;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.aboutus-section {
  background-color: #343434;
  padding: 8rem 5vw;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 8vw;
}
.aboutus-section .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.aboutus-section .left h3 {
  color: #49A1C7;
  font-size: 1.6rem;
  font-weight: 500;
}
.aboutus-section .left h2 {
  color: #FFF;
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.aboutus-section .left h2 strong {
  font-weight: 500;
  color: #49A1C7;
  text-decoration: underline;
}
.aboutus-section .left p {
  color: #CECECE;
  font-size: 1.6rem;
  font-weight: 400;
}

.aboutus-section .right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}
.action-card {
  width: 100%;
  height: 100%;
  padding: 5rem 3rem;
  background-color: #252525;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.action-card img {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem;
}
.action-card h4 {
  color: #FFF;
  font-size: 2.8rem;
  font-weight: 700;
}
.action-card p {
  color: #CECECE;
  font-size: 1.6rem;
  font-weight: 400;
}
@media only screen and (max-width: 1000px) {
  .aboutus-section {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 500px) {
  .aboutus-section .right {
    grid-template-columns: 1fr;
  }
}

.support-section {
  background-color: #49A1C7;
  padding: 2.5rem 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.support-section h3 {
  color: #FFF;
  font-size: 4rem;
  font-weight: 700;
}
.support-section img {
  width: 7rem;
  height: 7rem;
}